body{
    margin: 0;
    display: flex;
}
.div1{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.nav{
    display: flex;
    align-items: center;
}
.nav img{
    width: 100px;
    height: 100px;
}
