body{
    margin: 0;
    display: flex;
}
.div1{
    border: 1px solid black;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav img{
    width: 100px;
    height: 100px;
}
.nav .div2 a{
    text-decoration: none;
    color: black;
    font-size:x-large;
    margin: 10px;
}
